@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
    --primary-color: #22c55e;
    --dark-gray: #6b7280;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin: 2rem 0rem;
}

/** container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}


/** lists **/

.list-non-bullet {
    list-style: none;
}
 
.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation li {
    color: white;
}

.navigation .link {
    color: white;
}

.nav-pills {
    text-align: right;
}

/** check css-tricks website **/

/** header **/

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding: 1rem;
    color: var(--dark-gray);

}